LOCAL_DB_PASSWORD=
LOCAL_DB_USER=postgres
LOCAL_DB_HOST=127.0.0.1
LOCAL_DB_PORT=5432
LOCAL_DB_NAME=us_equities_historical
NEON_DB_PASSWORD=
NEON_DB_USER=neondb_owner
NEON_DB_HOST=
NEON_DB_NAME=neondb
OLLAMA_MODEL=
MASSIVE_API_KEY=
TG_TOKEN=
TG_CHAT_ID=
TG_USERNAME=
TG_WEBHOOK_SECRET=
TG_RENDER_BASE_URL=https://bot.138.2.69.165.sslip.io
TG_REPORT_URL=
TG_DASHBOARD_URL=
MARKET_API_BASE_URL=https://api.138.2.69.165.sslip.io
